In [1]:
from tricorder.swan import SWAN
from tricorder.cohort import ProcedureCohort
from tricorder.procedure_codesets import cabg_names
import pyarrow.csv as csv
import pyarrow.compute as pc
import pyarrow.plasma as plasma
import pyarrow as pa
import pandas as pd

In [2]:
swan = SWAN(root_dir='/Users/elijahc/data/compass/SWAN_20210210/')

In [3]:
teg_names = [
    'TEG: MAXIMUM AMPLITUDE', 
    'TEG: COAGULATION TIME', 
    'TEG: REACTION TIME', 
    'TEG: ALPHA ANGLE', 
    'TEG: LYSIS TIME 30 MINUTES',
    'R TIME',
    'K TIME',
]

procedures = [
    'TRICUSPID VALVE REPLACEMENT/REPAIR',
    'PULMONARY VALVE REPLACEMENT/REPAIR',
    'MITRAL VALVE REPLACEMENT/REPAIR',
    'CORONARY ARTERY BYPASS GRAFT TIMES 1-5 (CABG)',
    'AORTIC VALVE REPLACEMENT/REPAIR', 
]

In [4]:
client = plasma.connect('/tmp/plasma')

In [5]:
client.disconnect()

In [6]:
cam = swan.sel(procedures=cabg_names,flowsheet=['CAM ICU'])
cam.encounter_id.unique()

array([118100133870,  74960175079,  44894186181,  52627514512,
        62987849287,  73575338125,  76182778565,  49093837852,
        60128677923,  43822573422,  72128817774,  79473994810,
        63095777908,  38566043277,  78530522256,  76207316555,
       105945925798,  91439676358,  43934317224,  57369214164,
        56184035780,  68025969439,  58379625177,  70794218675,
       120951274342,  52993745632,  58645879981,  65382937549,
        58002045692,  69069204524,  52258222799,  86792681060,
        38411980126,  55708858658,  73704856526, 117269973440,
        70347960874,  59679259817,  64163918558,  68378395774,
        65506689663, 130725581359,  49252483444,  64196950499,
        74407504588, 106792658391,  99148241085,  75744740090,
        61114928662,  39012370369,  51381706449,  37804886489,
        95594825196,  90254530084,  77880686769,  39820406133,
       108018738212, 121176953034,  73225697759,  39996631976,
        72046212993, 103863913010,  89740383198,  61440701125,
        77173362471,  65596397524, 103622759811,  43818123646,
        56851835993,  73548984228,  79984524247,  69823848043,
        55802576895,  44689723779,  55289576675,  38343461515,
        80167590374, 109034301198,  36893446239,  71163305054,
        64508442441, 126869891646,  66978033613,  94100567349,
        37374069394,  59151217731,  43874435370,  73245941452,
        69932965581,  89745613755,  37053606074, 121725906365,
        67761424073,  80144793087,  39278037052, 124931349075,
       120874919190,  93632102916, 101047345761,  67866576021,
        61780276681,  47313719483,  46447315261, 100410546952,
        69973598308,  94820802420,  74611341689,  89448707378,
        75016681998,  40933828706,  38490744377,  51545525983,
        81530406597,  68385650954,  58569067683,  95376471820,
        73104728234,  63747554363,  57993039670, 104800287554,
       130601664470, 114575606037,  94610277134,  66042171984,
       118233918683,  60159254291,  43437884097, 101932163403,
        71945273376,  47394153456,  65203530277, 143074677125,
        57861158645, 117003971291,  65637608231,  60338420737,
        72413769074,  71620718561,  64066018410,  72924879872,
        59487689598,  43975424841,  90114234537,  72045980618,
        90399606648,  37992573927,  88389151941,  69988434839,
        54228111534,  69438411737,  91339823413,  72793610627,
       104654833275,  61689259069,  38245108447,  38077684137,
        59420473979,  88846538408,  51548674458, 119263418273,
        94772694812,  40222194057,  54704523203,  98000136283,
        48161035972,  68825052416,  44085627361,  79750517224,
        79520073570,  57357268382,  73467130653,  77288441492,
        72471487725,  61486149513,  63237821763,  91455136500,
        64709648209,  71615025788, 121616352806,  61074050885,
        56678782285, 127025534105, 124283050645,  57426615940,
        89736194527,  58572226298,  74754548265,  55608490262,
        69398497261,  72906678546,  79491417045, 105375750262,
        78595499467,  74357908933,  78040282143, 109290196287,
       113461608863,  58295161394,  63957664753,  78665827226,
        72606671860,  49301449573,  81530944018, 131225714746,
        55910132026,  95057458522,  74553779363,  88385188040,
        87299326026,  55957975148,  68526221972,  86135761927,
        89588727455,  59066144701,  60033881465,  54030212257,
        71898503406,  64843532732,  61554682490,  57122160322,
       122018674771,  64901802323,  62866245166,  87496199472,
       100670025691,  55825692747,  70541785556,  57968245645,
        57978218349,  71924052017,  72700751757,  81652704464,
        78927484378,  88692319776,  64074123662,  38778239130,
        59377897749,  89127301037,  74455744016, 123112472191,
        59067936104,  91824902259,  71445645300,  88571357857,
        80111228795,  74989806735,  65883277961,  77506380818,
        71525927173,  76686769383,  81505670877, 125218095157,
       128848892029,  62430624239,  64495500403,  67081662024,
        69824327159,  92252177109,  88007684605,  56921827441,
        55290610111,  65639446954, 103628050364,  76870655161,
        62004809552,  72035825393,  68767087025,  43396432564,
        78082238142,  62098141623,  68906576440,  57882410424,
        61715479455,  65458045479,  87245398895,  79083318652,
        59073864632,  78137813870,  87208464738,  67541373934,
        40486051593,  64365075315,  67212403987, 126469084769,
       124164772449,  64538115503,  57917919064,  96269546813,
        68371929825,  61074637316,  79737111280,  80292462959,
        79554712704,  65116340520,  40888879713,  81422525296,
        87698930467,  81541567373,  63039352954,  74932016259,
        74728361678,  55577695884,  89789928997,  63292166324,
       119826488193,  61387989106,  88695669361,  66041223048,
        95167933977,  88494141648,  66902249682,  71780311400,
        58345468539,  91079923863,  50862082264,  93763513275,
        90213166431,  60388361997,  81769514893,  72024583498,
        65708695646,  72823701964, 125673362362, 119008027650,
        94937864659, 132384160672,  76731346575,  88124327724,
        76278754645,  69978342145,  78511400724,  80435330690,
        79814546343,  74565179274,  65590947266,  70436119003,
        70199874416,  71574556991,  44005902344,  81894480428,
        89318567055,  75406809751,  65855049852,  71297906983,
        62460248291,  55547540327,  65895271908,  52935767565,
        52067316751,  71792601942,  63560608836,  76196915435,
       130042812795,  44920269678, 105463049025, 133885028964,
        67705963265, 122828106477,  62086077541, 118432275106,
        55580406648,  87250423272,  96849374797,  46603709771,
        49283603148,  40480032649,  94942392175,  86317885878,
        79810298522,  57181480250,  52049161056,  43403533109,
       118191692284,  41525121667,  37919853970, 100035718791,
        46697066347, 106752653500,  41164274895,  69103136391,
        93109126612,  43551211431,  63455583638,  54945506556,
        44795767203,  87330675570,  38056526152,  50542733501,
        44968033370,  54666972195,  39772832567, 105876701610,
        71223331403,  46422735867, 133265300024,  38509379188,
        44774945529,  39023986600,  49391806395, 129209280810,
        94220960583,  50165682141,  43975606517,  52243152203,
       102102913638,  39132826133,  41151537347,  44640640195,
        94103357543,  47849561775,  59664144436,  52488950373,
        41205496588,  97511341967,  74095440580,  91147036392,
        63866693615,  43732357715,  52446167118,  38533779442,
        43828495190,  44318131127,  46714204661,  60528251099,
        44605656301,  67947356444,  52046370862,  38687192788,
        45781100271,  98544190297,  43713719524,  41377679100,
        50296372560,  92675552278,  75365857613,  70523749006,
        76845251890,  49574400166, 126614837333, 101364271061,
        98634702599,  53833536540,  40601525230, 106074780873,
        93814132227,  99518709885,  73042515867,  55677144919,
        40798452756, 129134854796,  51414567700,  72394508962,
        43879337221,  44817700054, 132730493704,  38109783197,
        47100534978,  51691737384,  43413718753,  40459905566,
        52815079426,  54840338554,  87737667011,  53765420150,
        40808491370,  37227500558,  55367293969,  72222872321,
        40364491412,  43394269360,  60895836755, 118704266623,
        41415165887,  91075300862, 132592063919,  49293831042,
        50242833285,  92168669022, 106861202352,  40017787425,
        97377981345,  46092740089,  47431628413,  43431598133,
        45048618598,  98538391054,  49955278536,  53452768866,
        86581162053,  54499043420,  49379733863,  46202270832,
       130746592313,  54572021102,  54893999509,  41243542766,
        56178350612,  55515747157, 101791426765,  58105263432,
        94432594510,  57720103442,  39882390350,  38606048169,
        77078224632, 109555020504,  38703376250,  73785565125,
        54183886707,  38732102911,  38090276345,  48583314330,
        50001061545,  72009540787,  44001218503,  38815393833,
       105705389450,  39439841259, 128365459246,  37183615422,
        40270321945,  79428639372, 102058556145,  54587276754,
        62787639776,  88690432044,  98661281266,  93105739002,
       108810299834,  54154419826, 116723400477,  70411706073,
        72593767847, 124247836910, 129093301018,  57580930056,
       125453934988,  46771040286, 133188976982,  48362995481,
        39999176274,  43816420123, 130921838799,  93187039946,
        39452434312,  50478686636,  43785872485,  73637799767,
        40456136861,  37153354239,  98884854215,  47834133743,
        46997308789,  51629021396,  63696061681,  94626969288,
        75397059282,  70946296074, 130740191429, 100787658306,
        46858826614, 103337881181,  40347228038,  37510060505,
       116653242564,  44039364391, 131332920892,  40518292613,
        55075726309, 115898381879,  41147690057,  44201920649,
        38554167631, 131456053619,  37352648614,  52943746911,
        38963749846, 129010103046,  46529665697,  94411394275,
        54424914846, 129825674531,  38417184489, 125861563561,
        96228600591,  43734167708,  43893066801,  49944016360,
        47090651845,  72371424375], dtype=uint64)

In [7]:
p = ProcedureCohort(db=swan,procedures=cabg_names, encounter_id=cam.encounter_id.unique())
p.gender

     encounter_id  gender
0     36893446239  Female
1     37053606074    Male
2     37153354239    Male
3     37227500558  Female
4     37352648614  Female
..            ...     ...
587  132730493704    Male
588  133188976982    Male
589  133265300024  Female
590  133885028964    Male
591  143074677125    Male

[566 rows x 2 columns]

In [8]:
p.osa

     encounter_id    OSA
0     78595499467   True
1     96269546813  False
2     80111228795  False
3     72009540787   True
4     96228600591   True
..            ...    ...
586  133885028964  False
587   98538391054  False
589   87737667011  False
590   89740383198  False
591   88692319776   True

[566 rows x 2 columns]

In [21]:
p.db.flowsheet.sel(encounter_id=p.eid,display_name=['CCO','SPO2'],pivot=True)

display_name                                  CCO       SPO2
encounter_id flowsheet_days_since_birth
36893446239  19671                       3.715385  96.444444
             19672                       3.633333  97.916667
37053606074  28134                       4.221739  95.423077
             28135                       3.683784  96.729730
             28136                       3.652083  94.745455
...                                           ...        ...
133885028964 20039                       6.360000  95.057143
             20040                       5.950000  94.200000
143074677125 26357                       5.322222  98.809524
             26358                       6.233333  98.285714
             26359                       4.720000  99.500000

[1673 rows x 2 columns]

In [81]:
dat = p.db.sel(procedures=cabg_names,encounter_id=p.eid,flowsheet=['CCO','SPO2'])
hgb = p.db.sel(procedures=cabg_names,encounter_id=p.eid,labs=['HEMOGLOBIN','HEMOGLOBIN ARTERIAL','HEMOGLOBIN VENOUS'])
hgb['name'] = 'HEMOGLOBIN'
dat = pd.concat([dat,hgb])
dat.value = pd.to_numeric(dat.value,errors='coerce')
dat['time'] = pd.to_timedelta(dat.time) + pd.to_timedelta(dat.day,unit='days')

In [83]:
dat.groupby(['encounter_id','day','name']).count()

                             person_id  procedure  days_from_dob_procstart  \
encounter_id day name
36893446239  0.0 HEMOGLOBIN          5          5                        5
             1.0 CCO                13         13                       13
                 SPO2               18         18                       18
             2.0 CCO                12         12                       12
                 SPO2               12         12                       12
...                                ...        ...                      ...
143074677125 0.0 SPO2               21         21                       21
             1.0 CCO                27         27                       27
                 SPO2               28         28                       28
             2.0 CCO                10         10                       10
                 SPO2               10         10                       10

                             days_from_dob  time  value
encounter_id day name
36893446239  0.0 HEMOGLOBIN              5     5      5
             1.0 CCO                    13    13     13
                 SPO2                   18    18     18
             2.0 CCO                    12    12     12
                 SPO2                   12    12     12
...                                    ...   ...    ...
143074677125 0.0 SPO2                   21    21     21
             1.0 CCO                    27    27     27
                 SPO2                   28    28     28
             2.0 CCO                    10    10     10
                 SPO2                   10    10     10

[3896 rows x 6 columns]

In [86]:
dat.query('name == "HEMOGLOBIN"').groupby('encounter_id').count()

,person_id,procedure,days_from_dob_procstart,days_from_dob,day,time,name,value
encounter_id,,,,,,,,
36893446239,5,5,5,5,5,5,5,5
37053606074,7,7,7,7,7,7,7,7
37153354239,13,13,13,13,13,13,13,13
37227500558,5,5,5,5,5,5,5,5
37352648614,6,6,6,6,6,6,6,6
...,...,...,...,...,...,...,...,...
132730493704,13,13,13,13,13,13,13,13
133188976982,7,7,7,7,7,7,7,7
133265300024,9,9,9,9,9,9,9,9
133885028964,11,11,11,11,11,11,11,11
143074677125,11,11,11,11,11,11,11,11

In [87]:
dat.query('name == "HEMOGLOBIN"')[['encounter_id','day','time','name','value']].pivot_table(
    index=['encounter_id','day','time'],
    columns='name',
    values='value'
)

name                              HEMOGLOBIN
encounter_id day time
36893446239  0.0 0 days 11:55:00       11.70
                 0 days 14:15:00        8.20
                 0 days 14:48:00        8.20
                 0 days 15:10:00        7.70
                 0 days 15:34:00        7.40
...                                      ...
143074677125 0.0 0 days 09:38:00        8.70
                 0 days 11:52:00        8.10
                 0 days 10:07:00        7.15
                 0 days 10:49:00        6.80
                 0 days 07:49:00        9.40

[4895 rows x 1 columns]

In [88]:
import seaborn as sns

ModuleNotFoundError: No module named 'seaborn'

In [11]:
p.mechanical_ventilation_duration

     encounter_id  VENT DUR
0     36893446239       NaN
1     37053606074       0.0
2     37153354239       NaN
3     37227500558       NaN
4     37352648614       NaN
..            ...       ...
561  132730493704       NaN
562  133188976982       NaN
563  133265300024       NaN
564  133885028964       NaN
565  143074677125       NaN

[566 rows x 2 columns]

In [12]:
with swan.cohort(procedures=procedures) as c:
    icu_days = c.post_op_icu_days().count().reset_index()

In [13]:
# swan.labs.partition()
# swan.procedures.partition(column='person_id')
# swan.flowsheet.partition()
# swan.diagnosis.partition()

In [14]:
swan.diagnosis.unique()

array(['SYMPTOMATIC OLD MI (MYOCARDIAL INFARCTION)',
       'UNRESOLVED LOBAR PNEUMONIA (HC CODE)', 'SENIUM',
       'ESSENTIAL (PRIMARY) HYPERTENSION',
       'ENDOCARDITIS, VALVE UNSPECIFIED',
       'CARDIOMYOPATHY IN DISEASES CLASSIFIED ELSEWHERE',
       'PNEUMONIA DUE TO STREPTOCOCCUS PNEUMONIAE',
       'PNEUMONIA DUE TO HEMOPHILUS INFLUENZAE',
       'AGE-RELATED PHYSICAL DEBILITY',
       'HEMORRHAGE, NOT ELSEWHERE CLASSIFIED',
       'ENCOUNTER FOR FOLLOW-UP EXAMINATION AFTER COMPLETED TREATMENT FOR CONDITIONS OTHER THAN MALIGNANT NEOPLASM',
       'YOLK SAC TUMOUR', 'VENTRICULAR MYXOMA', 'USERS, COCAINE',
       'WITHDRAWAL FROM NICOTINE', 'RHEUMATIC MITRAL VALVE PROLAPSE',
       'RHEUMATIC MITRAL STENOSIS WITH REGURGITATION',
       'RHEUMATIC MITRAL VALVE FAILURE',
       'RHEUMATIC LEAKING, NARROWED AORTIC VALVE',
       'RHEUMATIC MITRAL AND AORTIC VALVE REGURGITATION',
       'STENOSIS AND INSUFFICIENCY OF MITRAL OR AORTIC VALVE WITH STENOSIS OR INSUFFICIENCY, OR BOTH, OF THE OTHER VALVE',
       'UNSPECIFIED MITRAL AND AORTIC VALVE DISEASES',
       'VALVULITIS, RHEUMATIC, CHRONIC', 'REACTIVE HYPERTENSION, BENIGN',
       'VASCULAR HYPERTENSION', 'WORSENING ANGINA',
       'VASOSPASTIC ANGINA (HC CODE)', 'X SYNDROME',
       'HARDENING OF THE ARTERIES OF THE HEART',
       'SYMPTOMATIC OLD MYOCARDIAL INFARCTION',
       'UNSPECIFIED CHRONIC ISCHEMIC HEART DISEASE',
       'THROMBOEMBOLUS, PULMONARY (HC CODE)',
       'TOXIN-INDUCED PULMONARY ARTERY HYPERTENSION (HC CODE)',
       'UNSPECIFIED CHRONIC PULMONARY HEART DISEASE',
       'RIGHT PULMONARY ARTERY ANEURYSM (HC CODE)',
       'STRICTURE OF PULMONARY VESSEL (HC CODE)',
       'UNSPECIFIED ACUTE ENDOCARDITIS', "SOLDIERS' PATCHES",
       'SUBACUTE EFFUSIVE-CONSTRICTIVE PERICARDITIS',
       'TAMPONADES, CARDIAC', 'POST-TRAUMATIC PERICARDITIS',
       'UNSPECIFIED DISEASE OF PERICARDIUM', 'WATER-HAMMER PULSE',
       'TS (TRICUSPID STENOSIS)', 'VALVULAR REGURGITATION, PULMONARY',
       'SECONDARY ENDOCARDIAL FIBROELASTOSIS (HC CODE)',
       'YAMAGUCHI SYNDROME (HC CODE)',
       'DILATED CARDIOMYOPATHY SECONDARY TO ALCOHOL (HC CODE)',
       'TYPE 2 DIABETES MELLITUS WITH DIABETIC CARDIOMYOPATHY',
       'VIRAL CARDIOMYOPATHY', 'OTHER LEFT BUNDLE BRANCH BLOCK',
       'RIGHT FASCICULAR BLOCK', 'SINUS, ARREST', 'WPW SYNDROME',
       'UNSPECIFIED CONDUCTION DISORDER',
       'WIDE-COMPLEX TACHYCARDIA (HC CODE)',
       'UNSPECIFIED PAROXYSMAL TACHYCARDIA',
       'VENTRICULAR ASYSTOLIA (HC CODE)', 'VENTRICULAR DYSRHYTHMIA',
       'SYNDROME, STONE HEART', 'WEAK HEART (HC CODE)',
       'UNSPECIFIED CARDIOVASCULAR DISEASE', 'VENTRICULAR HYPERTROPHY',
       'SYNDROMES, POSTPERICARDIOTOMY',
       'RUPTURED CHORDAE TENDINEAE (HC CODE)',
       'WITH MENTION OF HYPERTENSION (CONDITIONS CLASSIFIABLE TO 401-405)',
       'UNSPECIFIED LATE EFFECTS OF CEREBROVASCULAR DISEASE',
       'THORACOABDOMINAL AORTIC ANEURYSM, RUPTURED',
       'THORACIC ASCENDING AORTIC ANEURYSM (HC CODE)',
       'RUPTURED ABDOMINAL AORTIC ANEURYSM (HC CODE)',
       'SUPRARENAL AORTIC ANEURYSM (HC CODE)',
       'THORACOABDOMINAL AORTIC ANEURYSM, RUPTURED (HC CODE)',
       'THORACOABDOMINAL AORTIC ANEURYSM, WITHOUT RUPTURE (HC CODE)',
       'RUPTURED AORTIC ANEURYSMS',
       'RUPTURED ANEURYSM OF INTERNAL ILIAC ARTERY (HC CODE)',
       'VARICOSE, ANEURYSM', 'VENO-OCCLUSIVE DISEASE',
       'TRAVELING BLOOD CLOT OF AORTA', 'UNSPECIFIED HYPOTENSION',
       'PSEUDOMONAS PNEUMONIA (HC CODE)',
       'PNEUMONIA, HEMOPHILUS INFLUENZAE',
       'UNSPECIFIED BACTERIAL PNEUMONIA',
       'UNSPECIFIED ALCOHOLIC LIVER DAMAGE',
       'UNCONSCIOUSNESS RESULTING FROM LIVER DISEASE (HC CODE)',
       'VASCULITIS, HEMORRHAGIC', 'VASOMOTOR NEPHROPATHY (HC CODE)',
       'UREMIA, ACUTE',
       'VSD, TYPE 4 (MUSCULAR VENTRICULAR SEPTAL DEFECT)',
       "SYNDROME, LUTEMBACHER'S", 'REGURGITATION, AORTIC, CONGENITAL',
       'TRACHEAL MASS', 'UNSPECIFIED BACTEREMIA', 'SHIFT, MEDIASTINAL',
       'TRANSIENT POSTOPERATIVE JUNCTIONAL ECTOPIC TACHYCARDIA (HC CODE)',
       'SECONDARY MALIGNANT NEOPLASM OF UNSPECIFIED SITE',
       'MALIGNANT (PRIMARY) NEOPLASM, UNSPECIFIED',
       'BENIGN NEOPLASM OF HEART',
       'TYPE 2 DIABETES MELLITUS WITH UNSPECIFIED COMPLICATIONS',
       'TYPE 2 DIABETES MELLITUS WITHOUT COMPLICATIONS',
       'ACUTE RHEUMATIC ENDOCARDITIS', 'RHEUMATIC MITRAL STENOSIS',
       'RHEUMATIC MITRAL INSUFFICIENCY',
       'RHEUMATIC MITRAL STENOSIS WITH INSUFFICIENCY',
       'OTHER RHEUMATIC MITRAL VALVE DISEASES',
       'RHEUMATIC MITRAL VALVE DISEASE, UNSPECIFIED',
       'RHEUMATIC AORTIC STENOSIS',
       'RHEUMATIC AORTIC STENOSIS WITH INSUFFICIENCY',
       'RHEUMATIC TRICUSPID STENOSIS',
       'RHEUMATIC TRICUSPID INSUFFICIENCY',
       'OTHER RHEUMATIC TRICUSPID VALVE DISEASES',
       'RHEUMATIC TRICUSPID VALVE DISEASE, UNSPECIFIED',
       'RHEUMATIC DISORDERS OF BOTH MITRAL AND AORTIC VALVES',
       'RHEUMATIC MULTIPLE VALVE DISEASE, UNSPECIFIED',
       'RHEUMATIC DISEASES OF ENDOCARDIUM, VALVE UNSPECIFIED',
       'RHEUMATIC HEART DISEASE, UNSPECIFIED',
       'HYPERTENSIVE HEART DISEASE WITH HEART FAILURE',
       'HYPERTENSIVE HEART DISEASE WITHOUT HEART FAILURE',
       'HYPERTENSION SECONDARY TO ENDOCRINE DISORDERS',
       'SECONDARY HYPERTENSION, UNSPECIFIED', 'UNSTABLE ANGINA',
       'ANGINA PECTORIS WITH DOCUMENTED SPASM',
       'OTHER FORMS OF ANGINA PECTORIS', 'ANGINA PECTORIS, UNSPECIFIED',
       'ST ELEVATION (STEMI) MYOCARDIAL INFARCTION OF UNSPECIFIED SITE',
       'NON-ST ELEVATION (NSTEMI) MYOCARDIAL INFARCTION',
       'SUBSEQUENT ST ELEVATION (STEMI) MYOCARDIAL INFARCTION OF ANTERIOR WALL',
       'VENTRICULAR SEPTAL DEFECT AS CURRENT COMPLICATION FOLLOWING ACUTE MYOCARDIAL INFARCTION',
       'THROMBOSIS OF ATRIUM, AURICULAR APPENDAGE, AND VENTRICLE AS CURRENT COMPLICATIONS FOLLOWING ACUTE MYOCARDIAL INFARCTION',
       'ACUTE CORONARY THROMBOSIS NOT RESULTING IN MYOCARDIAL INFARCTION',
       "DRESSLER'S SYNDROME", 'ACUTE ISCHEMIC HEART DISEASE, UNSPECIFIED',
       'OLD MYOCARDIAL INFARCTION', 'ANEURYSM OF HEART',
       'ISCHEMIC CARDIOMYOPATHY',
       'CHRONIC ISCHEMIC HEART DISEASE, UNSPECIFIED',
       'PRIMARY PULMONARY HYPERTENSION',
       'PULMONARY HEART DISEASE, UNSPECIFIED',
       'ARTERIOVENOUS FISTULA OF PULMONARY VESSELS',
       'ANEURYSM OF PULMONARY ARTERY',
       'OTHER DISEASES OF PULMONARY VESSELS',
       'CHRONIC CONSTRICTIVE PERICARDITIS',
       'PERICARDIAL EFFUSION (NONINFLAMMATORY)', 'CARDIAC TAMPONADE',
       'OTHER SPECIFIED DISEASES OF PERICARDIUM',
       'DISEASE OF PERICARDIUM, UNSPECIFIED',
       'ACUTE AND SUBACUTE INFECTIVE ENDOCARDITIS',
       'ACUTE AND SUBACUTE ENDOCARDITIS, UNSPECIFIED',
       'NONRHEUMATIC MITRAL (VALVE) INSUFFICIENCY',
       'NONRHEUMATIC MITRAL (VALVE) PROLAPSE',
       'NONRHEUMATIC MITRAL (VALVE) STENOSIS',
       'NONRHEUMATIC AORTIC (VALVE) STENOSIS',
       'NONRHEUMATIC AORTIC (VALVE) INSUFFICIENCY',
       'NONRHEUMATIC AORTIC (VALVE) STENOSIS WITH INSUFFICIENCY',
       'OTHER NONRHEUMATIC AORTIC VALVE DISORDERS',
       'NONRHEUMATIC AORTIC VALVE DISORDER, UNSPECIFIED',
       'NONRHEUMATIC TRICUSPID (VALVE) INSUFFICIENCY',
       'NONRHEUMATIC TRICUSPID VALVE DISORDER, UNSPECIFIED',
       'NONRHEUMATIC PULMONARY VALVE STENOSIS',
       'NONRHEUMATIC PULMONARY VALVE INSUFFICIENCY',
       'NONRHEUMATIC PULMONARY VALVE DISORDER, UNSPECIFIED',
       'INFECTIVE MYOCARDITIS', 'ACUTE MYOCARDITIS, UNSPECIFIED',
       'DILATED CARDIOMYOPATHY',
       'OBSTRUCTIVE HYPERTROPHIC CARDIOMYOPATHY',
       'OTHER HYPERTROPHIC CARDIOMYOPATHY',
       'ENDOMYOCARDIAL (EOSINOPHILIC) DISEASE',
       'ENDOCARDIAL FIBROELASTOSIS', 'OTHER RESTRICTIVE CARDIOMYOPATHY',
       'ALCOHOLIC CARDIOMYOPATHY',
       'CARDIOMYOPATHY DUE TO DRUG AND EXTERNAL AGENT',
       'OTHER CARDIOMYOPATHIES', 'CARDIOMYOPATHY, UNSPECIFIED',
       'ATRIOVENTRICULAR BLOCK, FIRST DEGREE',
       'ATRIOVENTRICULAR BLOCK, SECOND DEGREE',
       'ATRIOVENTRICULAR BLOCK, COMPLETE',
       'LEFT BUNDLE-BRANCH BLOCK, UNSPECIFIED', 'BIFASCICULAR BLOCK',
       'TRIFASCICULAR BLOCK', 'OTHER SPECIFIED HEART BLOCK',
       'PRE-EXCITATION SYNDROME', 'CONDUCTION DISORDER, UNSPECIFIED',
       'CARDIAC ARREST DUE TO UNDERLYING CARDIAC CONDITION',
       'CARDIAC ARREST, CAUSE UNSPECIFIED',
       'SUPRAVENTRICULAR TACHYCARDIA', 'VENTRICULAR TACHYCARDIA',
       'PAROXYSMAL TACHYCARDIA, UNSPECIFIED',
       'PAROXYSMAL ATRIAL FIBRILLATION', 'TYPICAL ATRIAL FLUTTER',
       'ATYPICAL ATRIAL FLUTTER', 'VENTRICULAR PREMATURE DEPOLARIZATION',
       'SICK SINUS SYNDROME', 'OTHER SPECIFIED CARDIAC ARRHYTHMIAS',
       'CARDIAC ARRHYTHMIA, UNSPECIFIED',
       'LEFT VENTRICULAR FAILURE, UNSPECIFIED',
       'HEART FAILURE, UNSPECIFIED',
       'RUPTURE OF CHORDAE TENDINEAE, NOT ELSEWHERE CLASSIFIED',
       'INTRACARDIAC THROMBOSIS, NOT ELSEWHERE CLASSIFIED',
       'MYOCARDITIS, UNSPECIFIED', 'CARDIOMEGALY',
       'HEART DISEASE, UNSPECIFIED', 'CEREBRAL INFARCTION, UNSPECIFIED',
       'ATHEROSCLEROSIS OF AORTA', 'THORACIC AORTIC ANEURYSM, RUPTURED',
       'THORACIC AORTIC ANEURYSM, WITHOUT RUPTURE',
       'ABDOMINAL AORTIC ANEURYSM, RUPTURED',
       'ABDOMINAL AORTIC ANEURYSM, WITHOUT RUPTURE',
       'THORACOABDOMINAL AORTIC ANEURYSM, WITHOUT RUPTURE',
       'AORTIC ANEURYSM OF UNSPECIFIED SITE, WITHOUT RUPTURE',
       'ANEURYSM OF ILIAC ARTERY', 'ANEURYSM OF UNSPECIFIED SITE',
       'PERIPHERAL VASCULAR DISEASE, UNSPECIFIED',
       'HYPOTENSION, UNSPECIFIED',
       'PNEUMONIA DUE TO KLEBSIELLA PNEUMONIAE',
       'PNEUMONIA DUE TO PSEUDOMONAS',
       'PNEUMONIA DUE TO OTHER STREPTOCOCCI',
       'PNEUMONIA DUE TO OTHER GRAM-NEGATIVE BACTERIA',
       'CHRONIC OBSTRUCTIVE PULMONARY DISEASE WITH (ACUTE) EXACERBATION',
       'CHRONIC OBSTRUCTIVE PULMONARY DISEASE, UNSPECIFIED',
       'TOXIC LIVER DISEASE, UNSPECIFIED',
       'ACUTE KIDNEY FAILURE WITH TUBULAR NECROSIS',
       'ACUTE KIDNEY FAILURE, UNSPECIFIED', 'VENTRICULAR SEPTAL DEFECT',
       'ATRIAL SEPTAL DEFECT', 'CONGENITAL PULMONARY VALVE INSUFFICIENCY',
       'CONGENITAL INSUFFICIENCY OF AORTIC VALVE',
       'CONGENITAL SUBAORTIC STENOSIS',
       'MALFORMATION OF CORONARY VESSELS', 'TACHYCARDIA, UNSPECIFIED',
       'BRADYCARDIA, UNSPECIFIED',
       'LOCALIZED SWELLING, MASS AND LUMP, TRUNK',
       'PERSISTENT VEGETATIVE STATE', 'CARDIOGENIC SHOCK',
       'ABNORMAL FINDINGS ON DIAGNOSTIC IMAGING OF HEART AND CORONARY CIRCULATION',
       'FHX: PREMATURE CORONARY HEART DISEASE', 'TRANSPLANTED, HEART',
       'TRICUSPID VALVE REPLACEMENT', 'RESEARCH EXAM',
       'ENCOUNTER FOR EXAMINATION FOR NORMAL COMPARISON AND CONTROL IN CLINICAL RESEARCH PROGRAM',
       'HEART TRANSPLANT STATUS', 'HEART AND LUNGS TRANSPLANT STATUS',
       'PRESENCE OF AORTOCORONARY BYPASS GRAFT',
       'PRESENCE OF PROSTHETIC HEART VALVE',
       'DEPENDENCE ON RENAL DIALYSIS',
       'SECONDARY TERATOMA OF INTRA-ABDOMINAL SITE (HC CODE)',
       'TYPE I DIABETES WITH COMPLICATIONS',
       'DEMENTIA, UNSPECIFIED, WITH BEHAVIORAL DISTURBANCE',
       'RHEUMATIC LEFT VENTRICULAR FAILURE (HC CODE)',
       'UNSPECIFIED HYPERTENSIVE HEART DISEASE WITH HEART FAILURE(402.91)',
       'UNSPECIFIED SECONDARY HYPERTENSION, UNSPECIFIED',
       'TRANSMURAL ANTEROSEPTAL MYOCARDIAL INFARCTION, INITIAL HOSPITALIZATION (HC CODE)',
       'TRANSMURAL MYOCARDIAL INFARCTION OF INFEROPOSTERIOR WALL, INITIAL HOSPITALIZATION (HC CODE)',
       'SUBSEQUENT NON-ST ELEVATION (NSTEMI) MYOCARDIAL INFARCTION (HC CODE)',
       'TRANSMURAL MYOCARDIAL INFARCTION OF OTHER SITE, INITIAL HOSPITALIZATION',
       'OCCLUSION OF LEFT ANTERIOR DESCENDING ARTERY (HC CODE)',
       'RECURRENT CORONARY ARTERIOSCLEROSIS FOLLOWING PTCA',
       'VASCULOPATHY OF CARDIAC ALLOGRAFT (HC CODE)',
       'ENLARGED CORONARY ARTERY', 'SPLITTING OF WALL OF HEART ARTERY',
       'OTHER ANEURYSM OF HEART', 'SEPTIC PULMONARY EMBOLSM (HCC)',
       'SADDLE PULMONARY EMBOLUS (HC CODE)',
       'VENO-OCCLUSIVE DISEASES, PULMONARY', 'VERRUCOUS ENDOCARDITIS',
       'THICKENED HEART MUSCLE CAUSING OBSTRUCTION',
       'PROLONGED, PR INTERVAL',
       'SECOND DEGREE TYPE II ATRIOVENTRICULAR BLOCK',
       "WENCKEBACH'S PHENOMENON, HEART BLOCK",
       'RIGHT BUNDLE BRANCH BLOCK WITH LEFT POSTERIOR FASCICULAR BLOCK',
       'RIGHT BUNDLE BRANCH BLOCK WITH LEFT ANTERIOR FASCICULAR BLOCK',
       'RIGHT BUNDLE BRANCH BLOCK WITH LEFT MAIN STEM BUNDLE BRANCH BLOCK',
       'SYNDROMES, ROMANO-WARD', 'VENTRICULAR RHYTHMS',
       'TRANSIENT ATRIAL FIBRILLATION OR FLUTTER',
       'TYPICAL ATRIAL FLUTTER (HC CODE)',
       'VF (VENTRICULAR FIBRILLATION) (HC CODE)',
       "VPC'S (VENTRICULAR PREMATURE COMPLEXES)",
       'TACHYCARDIA-BRADYCARDIA SYNDROME (HC CODE)',
       'WANDERING, PACEMAKER ATRIAL', 'SYSTOLIC CHF, ACUTE (HC CODE)',
       'SYSTOLIC CHF, ACUTE ON CHRONIC (HC CODE)',
       'HEART FAILURE, DIASTOLIC, ACUTE (HC CODE)',
       'HEART FAILURE, DIASTOLIC, ETIOLOGY UNKNOWN',
       'HEART FAILURE, DIASTOLIC, WITH ACUTE DECOMPENSATION (HC CODE)',
       'SYSTOLIC AND DIASTOLIC CHF, ACUTE (HC CODE)',
       'SYSTOLIC AND DIASTOLIC CHF, CHRONIC (HC CODE)',
       'SYSTOLIC AND DIASTOLIC CHF, ACUTE ON CHRONIC (HC CODE)',
       'VENTRICULAR SEPTAL DEFECT, POST-INFARCTION',
       'VENTRICULAR THROMBUS FOLLOWING MI (MYOCARDIAL INFARCTION) (HC CODE)',
       'SYNDROME, HYPERKINETIC, HEART',
       'TRANSIENT LEFT VENTRICULAR APICAL BALLOONING SYNDROME',
       'VIRAL CARDITIS',
       'THROMBOTIC STROKE INVOLVING RIGHT CAROTID ARTERY (HC CODE)',
       'THROMBOTIC STROKE INVOLVING PRECEREBRAL ARTERY (HC CODE)',
       'WHITE MATTER PERIVENTRICULAR INFARCTION (HC CODE)',
       'TYPE 3 DISSECTION OF THORACIC AORTA (HC CODE)',
       'SPLITTING OF WALL OF ABDOMINAL AORTA',
       'TYPE 1 THORACOABDOMINAL AORTIC ANEURYSM (HC CODE)',
       'THORACIC AORTIC ECTASIA (HC CODE)',
       'STAPHYLOCOCCUS AUREUS PNEUMONIA (HC CODE)',
       'PNEUMONIA DUE TO STAPHYLOCOCCUS', 'SERRATIA MARCESCENS',
       'OBSTRUCTIVE CHRONIC BRONCHITIS WITH EXACERBATION (HC CODE)',
       'OBSTRUCTIVE CHRONIC BRONCHITIS WITH ACUTE BRONCHITIS (HC CODE)',
       'UNICUSPID PULMONARY VALVE', 'SUBVALVULAR AORTIC STENOSIS',
       'SINGLE, CORONARY ARTERY', "SYNDROME; MARFAN'S", 'UNCONSCIOUSNESS',
       'VEGETATIVE STATES, TRANSIENT', 'UNSPECIFIED SLEEP APNEA',
       'SHOCKS, CARDIOGENIC', 'T WAVE INVERSION IN ELECTROCARDIOGRAM',
       'SYSTEMIC INFLAMMATORY RESPONSE SYNDROME DUE TO INFECTIOUS PROCESS WITH ORGAN DYSFUNCTION',
       'SYSTEMIC INFLAMMATORY RESPONSE SYNDROME NOT DUE TO INFECT ORGAN DYSFUN (HC CODE)',
       'URETERAL REIMPLANTATION HEMORRHAGE', 'WOUND HEMATOMA',
       'WOUND SEROMA',
       'SECONDARY MALIGNANT NEOPLASM OF OTHER SPECIFIED SITES',
       'TYPE 1 DIABETES MELLITUS WITH OTHER SPECIFIED COMPLICATION',
       'TYPE 2 DIABETES MELLITUS WITH HYPEROSMOLARITY WITHOUT NONKETOTIC HYPERGLYCEMIC-HYPEROSMOLAR COMA (NKHHC)',
       'TYPE 2 DIABETES MELLITUS WITH DIABETIC NEPHROPATHY',
       'TYPE 2 DIABETES MELLITUS WITH DIABETIC CHRONIC KIDNEY DISEASE',
       'TYPE 2 DIABETES MELLITUS WITH OTHER DIABETIC KIDNEY COMPLICATION',
       'TYPE 2 DIABETES MELLITUS WITH DIABETIC NEUROPATHY, UNSPECIFIED',
       'TYPE 2 DIABETES MELLITUS WITH DIABETIC POLYNEUROPATHY',
       'TYPE 2 DIABETES MELLITUS WITH DIABETIC AUTONOMIC (POLY)NEUROPATHY',
       'TYPE 2 DIABETES MELLITUS WITH OTHER DIABETIC NEUROLOGICAL COMPLICATION',
       'TYPE 2 DIABETES MELLITUS WITH DIABETIC PERIPHERAL ANGIOPATHY WITHOUT GANGRENE',
       'TYPE 2 DIABETES MELLITUS WITH DIABETIC PERIPHERAL ANGIOPATHY WITH GANGRENE',
       'TYPE 2 DIABETES MELLITUS WITH OTHER CIRCULATORY COMPLICATIONS',
       'UNSPECIFIED DEMENTIA WITHOUT BEHAVIORAL DISTURBANCE',
       'ALCOHOL DEPENDENCE, UNCOMPLICATED', 'OPIOID ABUSE, UNCOMPLICATED',
       'OPIOID DEPENDENCE, UNCOMPLICATED', 'SLEEP APNEA, UNSPECIFIED',
       'MYASTHENIA GRAVIS WITHOUT (ACUTE) EXACERBATION',
       'ST ELEVATION (STEMI) MYOCARDIAL INFARCTION INVOLVING LEFT ANTERIOR DESCENDING CORONARY ARTERY',
       'ST ELEVATION (STEMI) MYOCARDIAL INFARCTION INVOLVING OTHER CORONARY ARTERY OF ANTERIOR WALL',
       'ST ELEVATION (STEMI) MYOCARDIAL INFARCTION INVOLVING RIGHT CORONARY ARTERY',
       'ST ELEVATION (STEMI) MYOCARDIAL INFARCTION INVOLVING OTHER CORONARY ARTERY OF INFERIOR WALL',
       'ST ELEVATION (STEMI) MYOCARDIAL INFARCTION INVOLVING LEFT CIRCUMFLEX CORONARY ARTERY',
       'ST ELEVATION (STEMI) MYOCARDIAL INFARCTION INVOLVING OTHER SITES',
       'ATHEROSCLEROTIC HEART DISEASE OF NATIVE CORONARY ARTERY WITHOUT ANGINA PECTORIS',
       'CORONARY ARTERY ANEURYSM', 'CORONARY ARTERY DISSECTION',
       'CORONARY ATHEROSCLEROSIS DUE TO LIPID RICH PLAQUE',
       'CORONARY ATHEROSCLEROSIS DUE TO CALCIFIED CORONARY LESION',
       'OTHER FORMS OF CHRONIC ISCHEMIC HEART DISEASE',
       'SADDLE EMBOLUS OF PULMONARY ARTERY WITH ACUTE COR PULMONALE',
       'OTHER PULMONARY EMBOLISM WITH ACUTE COR PULMONALE',
       'SEPTIC PULMONARY EMBOLISM WITHOUT ACUTE COR PULMONALE',
       'OTHER PULMONARY EMBOLISM WITHOUT ACUTE COR PULMONALE',
       'COR PULMONALE (CHRONIC)', 'CHRONIC PULMONARY EMBOLISM',
       'OTHER SPECIFIED PULMONARY HEART DISEASES',
       'UNSPECIFIED ATRIOVENTRICULAR BLOCK',
       'UNSPECIFIED RIGHT BUNDLE-BRANCH BLOCK', 'LONG QT SYNDROME',
       'OTHER SPECIFIED CONDUCTION DISORDERS',
       'UNSPECIFIED ATRIAL FIBRILLATION', 'UNSPECIFIED ATRIAL FLUTTER',
       'VENTRICULAR FIBRILLATION', 'OTHER PREMATURE DEPOLARIZATION',
       'UNSPECIFIED SYSTOLIC (CONGESTIVE) HEART FAILURE',
       'ACUTE SYSTOLIC (CONGESTIVE) HEART FAILURE',
       'CHRONIC SYSTOLIC (CONGESTIVE) HEART FAILURE',
       'ACUTE ON CHRONIC SYSTOLIC (CONGESTIVE) HEART FAILURE',
       'UNSPECIFIED DIASTOLIC (CONGESTIVE) HEART FAILURE',
       'ACUTE DIASTOLIC (CONGESTIVE) HEART FAILURE',
       'CHRONIC DIASTOLIC (CONGESTIVE) HEART FAILURE',
       'ACUTE ON CHRONIC DIASTOLIC (CONGESTIVE) HEART FAILURE',
       'UNSPECIFIED COMBINED SYSTOLIC (CONGESTIVE) AND DIASTOLIC (CONGESTIVE) HEART FAILURE',
       'ACUTE COMBINED SYSTOLIC (CONGESTIVE) AND DIASTOLIC (CONGESTIVE) HEART FAILURE',
       'CHRONIC COMBINED SYSTOLIC (CONGESTIVE) AND DIASTOLIC (CONGESTIVE) HEART FAILURE',
       'ACUTE ON CHRONIC COMBINED SYSTOLIC (CONGESTIVE) AND DIASTOLIC (CONGESTIVE) HEART FAILURE',
       'TAKOTSUBO SYNDROME', 'OTHER ILL-DEFINED HEART DISEASES',
       'CEREBRAL INFARCTION DUE TO EMBOLISM OF UNSPECIFIED PRECEREBRAL ARTERY',
       'OCCLUSION AND STENOSIS OF RIGHT CAROTID ARTERY',
       'OCCLUSION AND STENOSIS OF LEFT CAROTID ARTERY',
       'OCCLUSION AND STENOSIS OF BILATERAL CAROTID ARTERIES',
       'OCCLUSION AND STENOSIS OF UNSPECIFIED CAROTID ARTERY',
       'UNSPECIFIED SEQUELAE OF CEREBRAL INFARCTION',
       'DISSECTION OF UNSPECIFIED SITE OF AORTA',
       'DISSECTION OF THORACIC AORTA',
       'DISSECTION OF THORACOABDOMINAL AORTA',
       'OTHER POSTPROCEDURAL COMPLICATIONS AND DISORDERS OF THE CIRCULATORY SYSTEM, NOT ELSEWHERE CLASSIFIED',
       'PNEUMONIA DUE TO STAPHYLOCOCCUS, UNSPECIFIED',
       'ENDOCARDITIS IN SYSTEMIC LUPUS ERYTHEMATOSUS',
       "MARFAN'S SYNDROME, UNSPECIFIED", 'UNSPECIFIED COMA',
       'SYSTEMIC INFLAMMATORY RESPONSE SYNDROME (SIRS) OF NON-INFECTIOUS ORIGIN WITHOUT ACUTE ORGAN DYSFUNCTION',
       'SYSTEMIC INFLAMMATORY RESPONSE SYNDROME (SIRS) OF NON-INFECTIOUS ORIGIN WITH ACUTE ORGAN DYSFUNCTION',
       'SEVERE SEPSIS WITHOUT SEPTIC SHOCK',
       'SEVERE SEPSIS WITH SEPTIC SHOCK', 'BACTEREMIA',
       'ABNORMAL ELECTROCARDIOGRAM (ECG) (EKG)',
       'PERSONAL HISTORY OF VENOUS THROMBOSIS AND EMBOLUS',
       'SUDDEN DEATH HISTORY (LIVING PATIENT)',
       'TRANSIENT ISCHEMIC ATTACK, REMOTE, RESOLVED',
       'PERSONAL HISTORY OF PULMONARY THROMBOSIS', 'TOLERANT NONSMOKER',
       'FMLY H/O IHD & OTH DIS CIRCULATORY SYS',
       'PRESENCE OF HEART ASSIST DEVICE (HC CODE)',

In [15]:
swan.procedures.sel(order_name=procedures)

,encounter_id,order_name,days_from_dob_procstart,person_id
0,113856305537,MITRAL VALVE REPLACEMENT/REPAIR,21656,1001662573
1,78595499467,AORTIC VALVE REPLACEMENT/REPAIR,24922,1059873860
2,78595499467,CORONARY ARTERY BYPASS GRAFT TIMES 1-5 (CABG),24922,1059873860
3,96269546813,CORONARY ARTERY BYPASS GRAFT TIMES 1-5 (CABG),22751,1061539357
4,162370632423,MITRAL VALVE REPLACEMENT/REPAIR,24158,1118835508
...,...,...,...,...
1778,72691375624,MITRAL VALVE REPLACEMENT/REPAIR,12598,914707726
1779,81004618129,MITRAL VALVE REPLACEMENT/REPAIR,23988,928313935
1780,137603444009,CORONARY ARTERY BYPASS GRAFT TIMES 1-5 (CABG),24713,94890955
1781,70389777448,CORONARY ARTERY BYPASS GRAFT TIMES 1-5 (CABG),20783,987981159
1782,151357472548,CORONARY ARTERY BYPASS GRAFT TIMES 1-5 (CABG),15836,993539577

In [16]:
teg = swan.sel(procedures=procedures, labs=teg_names)
teg

,person_id,encounter_id,procedure,days_from_dob_procstart,days_from_dob,day,time,name,value
0,7087724467,129946253665,CORONARY ARTERY BYPASS GRAFT TIMES 1-5 (CABG),26525,26525,0.0,12:15:00,K TIME,2.8
1,7087724467,129946253665,CORONARY ARTERY BYPASS GRAFT TIMES 1-5 (CABG),26525,26525,0.0,12:15:00,K TIME,2.5
2,7087724467,129946253665,CORONARY ARTERY BYPASS GRAFT TIMES 1-5 (CABG),26525,26525,0.0,12:15:00,R TIME,5.9
3,7087724467,129946253665,CORONARY ARTERY BYPASS GRAFT TIMES 1-5 (CABG),26525,26525,0.0,12:15:00,R TIME,5.7
4,7087724467,129946253665,CORONARY ARTERY BYPASS GRAFT TIMES 1-5 (CABG),26525,26525,0.0,12:15:00,TEG: ALPHA ANGLE,58.0
...,...,...,...,...,...,...,...,...,...
6305,3538737230,60528251099,CORONARY ARTERY BYPASS GRAFT TIMES 1-5 (CABG),22533,22533,0.0,17:35:00,TEG: REACTION TIME,4.8
6306,3548971039,60895836755,CORONARY ARTERY BYPASS GRAFT TIMES 1-5 (CABG),20919,20919,0.0,11:14:00,TEG: COAGULATION TIME,1.2
6307,3548971039,60895836755,CORONARY ARTERY BYPASS GRAFT TIMES 1-5 (CABG),20919,20919,0.0,11:14:00,TEG: LYSIS TIME 30 MINUTES,1.1
6308,3548971039,60895836755,CORONARY ARTERY BYPASS GRAFT TIMES 1-5 (CABG),20919,20919,0.0,11:14:00,TEG: MAXIMUM AMPLITUDE,69.3
6309,3548971039,60895836755,CORONARY ARTERY BYPASS GRAFT TIMES 1-5 (CABG),20919,20919,0.0,11:14:00,TEG: REACTION TIME,7.9

In [17]:
len(proc_df.encounter_id.unique())

NameError: name 'proc_df' is not defined

In [ ]:
# tegs = csv.read_csv(swan.labs.file_path).to_pandas()
tegs = swan.labs.sel(lab_component_name=teg_names,encounter_id=proc_df.encounter_id.unique())
# tegs = tegs[tegs.encounter_id.isin(proc_df.encounter_id.unique())]
tegs
tegs.groupby('lab_component_name').count().sort_values(by='loinc_code',ascending=False)

In [ ]:
tab= csv.read_csv(swan.labs.file_path)

In [ ]:
tab

In [ ]:
ftab = tab.filter(pc.is_in(tab['lab_component_name'],options=pc.SetLookupOptions(value_set=pa.array(teg_names))))

In [ ]:
tab['lab_component_name'].to_pandas().unique()

In [ ]:
ftab['lab_component_name']

In [ ]:
tegs.groupby(['lab_component_name','encounter_id',]).count().sort_values('loinc_code',ascending=False).head(50)

In [ ]:
labs = swan.labs.sel(lab_component_name=teg_names, cache=False, encounter_id=proc_df.encounter_id.unique())

In [ ]:
len(labs.encounter_id.unique())

In [ ]:
len(proc_df.encounter_id.unique())

In [ ]:
import pyarrow.csv as csv

In [ ]:
labs = csv.read_csv(swan.labs.file_path).to_pandas()
labs = labs[labs.lab_component_name.isin(teg_names)]

In [ ]:
len(labs.encounter_id.unique())

In [ ]:
trans = csv.read_csv('/Users/elijahc/data/compass/SWAN_20210210/raw/Table5_Blood_Transfusion.csv').to_pandas()
trans.transfusion_name.unique()

In [ ]:
meds = csv.read_csv('/Users/elijahc/data/compass/SWAN_20210210/raw/Table4_Administered_Medication.csv').to_pandas()
meds

In [ ]:
labs = swan.labs.sel(lab_component_name=teg_names)
len(labs)

In [ ]:
len(labs.encounter_id.unique())