In [1]:
from src.datasets import TAVR,SWAN

/home/elijahc/.pyenv/versions/3.6.1/envs/jupyterlab/lib/python3.6/site-packages/dask/dataframe/utils.py:14: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [2]:
tavr = TAVR()
swan = SWAN(root_dir='/data/compass/raw/SWAN')

In [3]:
enc = tavr.labs.load_table()
enc

Loading file:
 	/data/compass/raw/TAVR/Table3_Lab.csv
cleaning...

/home/elijahc/.pyenv/versions/3.6.1/envs/jupyterlab/lib/python3.6/site-packages/ipykernel_launcher.py:1: DtypeWarning: Columns (5) have mixed types.Specify dtype option on import or set low_memory=False.
  """Entry point for launching an IPython kernel.

removed 2705 rows

,encounter_id,loinc_code,lab_component_name,lab_result_value,lab_result_unit,lab_collection_days_since_birth,lab_collection_time
25287,33598944321,1751-7,ALBUMIN,4.000000,g/dL,32507,14:35:00
25288,33598944321,4544-3,HEMATOCRIT,34.200001,%,32507,14:35:00
25290,33598944321,58413-6,NRBC PERCENT,0.000000,%,32507,14:35:00
25292,33598944321,771-6,NRBC ABSOLUTE,0.000000,10^9/L,32507,14:35:00
25293,33598944321,777-3,PLATELET COUNT,27.000000,10^9/L,32507,14:35:00
...,...,...,...,...,...,...,...
192171,23296033885,71695-1,IMMATURE GRANULOCYTES PERCENT,0.900000,%,9227,9:29:00
192172,23296033885,53115-2,IMMATURE GRANULOCYTES ABSOLUTE,0.200000,10^9/L,9227,9:29:00
192173,23296033885,788-0,RED CELL DISTRIBUTION WIDTH CV,13.700000,%,9227,9:29:00
192174,23296033885,21000-5,RED CELL DISTRIBUTION WIDTH SD,47.200001,fL,9227,9:29:00
192175,23296033885,786-4,MEAN CORPUSCULAR HEMOGLOBIN CONCENTRATION,32.799999,g/dL,9227,9:29:00

In [4]:
enc.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 157574 entries, 25287 to 192175
Data columns (total 7 columns):
 #   Column                           Non-Null Count   Dtype
---  ------                           --------------   -----
 0   encounter_id                     157574 non-null  uint64
 1   loinc_code                       157574 non-null  object
 2   lab_component_name               157574 non-null  category
 3   lab_result_value                 157574 non-null  float32
 4   lab_result_unit                  157574 non-null  category
 5   lab_collection_days_since_birth  157574 non-null  uint64
 6   lab_collection_time              157574 non-null  object
dtypes: category(2), float32(1), object(2), uint64(2)
memory usage: 7.1+ MB

In [5]:
n = 2000
x = np.linspace(0.0,10.0,n)
np.random.seed(0)
y = np.cumsum(np.random.randn(n)*10).astype(int)

NameError: name 'np' is not defined

In [ ]:
fig_hist = plt.figure( title='Histogram')
hist = plt.hist(y,bins=25)
fig_hist

In [ ]:
hist.bins = 50

In [ ]:
slider = widgets.IntSlider(min=1,max=100, v_model=30)
slider

In [ ]:
slider.value=20;

In [ ]:
widgets.link((hist,'bins'),(slider,'value'));