In [1]:
import pandas as pd
import numpy as np
from src.datasets import TAVR,SWAN

/home/elijahc/.pyenv/versions/3.6.1/envs/jupyterlab/lib/python3.6/site-packages/dask/dataframe/utils.py:14: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [2]:
# tavr = TAVR()
swan = SWAN(root_dir='/data/compass/raw/SWAN_20200914/')

In [3]:
enc = swan.labs.load_table()
enc.head()

Loading file:
 	/data/compass/raw/SWAN_20200914/Table3_Lab.parquet

,encounter_id,loinc_code,lab_component_name,lab_result_value,lab_result_unit,lab_collection_days_since_birth,lab_collection_time
0,76426820823,10839-9,TROPONIN I,0.460000,ng/mL,24756,05:58:00
1,36647027839,3246-6,D DIMER,40470.000000,FEU,7795,04:00:00
2,90823975539,66748-5,TEG: ALPHA ANGLE,43.099998,Degrees,23107,10:23:00
3,72177761088,10839-9,TROPONIN I,0.200000,ng/mL,31840,18:30:00
4,66704709529,2692-2,OSMOLALITY SERUM,277.000000,mOsm/kg,21147,03:31:00

In [4]:
flow = swan.flowsheet.load_table()
flow.flowsheet_days_since_birth = flow.flowsheet_days_since_birth.astype(np.uint64)
flow.info()

Loading file:
 	/data/compass/raw/SWAN_20200914/Table2_Flowsheet.csv
   Error loading table
   invalid literal for int() with base 10: '>32507'
   Loading without dtypes

Loading file:
 	/data/compass/raw/SWAN_20200914/Table2_Flowsheet.csv

/home/elijahc/.pyenv/versions/3.6.1/envs/jupyterlab/lib/python3.6/site-packages/ipykernel_launcher.py:1: DtypeWarning: Columns (4) have mixed types.Specify dtype option on import or set low_memory=False.
  """Entry point for launching an IPython kernel.

cleaning...
<class 'pandas.core.frame.DataFrame'>
Int64Index: 4349867 entries, 0 to 5907085
Data columns (total 5 columns):
 #   Column                      Dtype
---  ------                      -----
 0   encounter_id                int64
 1   flowsheet_days_since_birth  uint64
 2   flowsheet_time              object
 3   display_name                category
 4   flowsheet_value             float64
dtypes: category(1), float64(1), int64(1), object(1), uint64(1)
memory usage: 174.2+ MB

In [7]:
flow.head()

,encounter_id,flowsheet_days_since_birth,flowsheet_time,display_name,flowsheet_value
0,39195482126,39195482126,00:01:00,LVSWI,19.50
1,37053606074,37053606074,00:03:00,Static Pressure (cmH2O),20.00
2,89373276657,89373276657,20:50:00,Set Ve (L/min),5.88
6,119008027650,119008027650,00:08:00,Volume (mL) Vasopressin,0.00
8,41538170175,41538170175,04:52:00,Inspiratory Time (sec),0.90

In [8]:
flow.encounter_id = flow.encounter_id.astype(np.uint64)
flow.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4349867 entries, 0 to 5907085
Data columns (total 5 columns):
 #   Column                      Dtype
---  ------                      -----
 0   encounter_id                uint64
 1   flowsheet_days_since_birth  uint64
 2   flowsheet_time              object
 3   display_name                category
 4   flowsheet_value             float64
dtypes: category(1), float64(1), object(1), uint64(2)
memory usage: 174.2+ MB

In [ ]:
enc.info()

In [ ]:
enc.loinc_code = enc.loinc_code.astype('category')

In [ ]:
enc.info()

In [ ]:
enc.to_parquet('/data/compass/raw/SWAN_20200914/Table3_Lab.parquet')

In [ ]:
procs = swan.procedures.load_table()
procs.order_name = procs.order_name.astype('category')
procs.person_id = procs.person_id.astype(np.uint64)
procs.info()

In [ ]:
procs.to_parquet('/data/compass/raw/SWAN_20200914/Table6_Procedure.parquet')

In [ ]:
# tranex_doses = [m for m in meds.medication_name.unique() if 'TRAN' in m]
# tranex_doses

In [ ]:
# meds[meds.medication_name.isin(tranex_doses)]

In [ ]:
n = 2000
x = np.linspace(0.0,10.0,n)
np.random.seed(0)
y = np.cumsum(np.random.randn(n)*10).astype(int)

In [ ]:
fig_hist = plt.figure( title='Histogram')
hist = plt.hist(y,bins=25)
fig_hist

In [ ]:
hist.bins = 50

In [ ]:
slider = widgets.IntSlider(min=1,max=100, v_model=30)
slider

In [ ]:
slider.value=20;

In [ ]:
widgets.link((hist,'bins'),(slider,'value'));